<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.film.parser.feature.playlist.repository.mapper.ContentPlaylistMetaMapper">

    <resultMap id="playlistMetadataResultMap" type="org.film.parser.feature.playlist.data.ContentMediaMeta">
        <constructor>
            <idArg column="id" javaType="_long"/>
            <arg column="content_id" javaType="_long"/>
            <arg column="segment_index" javaType="int"/>
            <arg column="media_path" javaType="string"/>
            <arg column="fallback_url" javaType="string"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <insert id="insertAll" keyProperty="id">
        INSERT INTO content_playlist_meta (content_id, segment_index, media_path, fallback_url)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.contentId}, #{item.segmentIndex}, #{item.mediaPath}, #{item.fallbackUrl})
        </foreach>
        ON CONFLICT (content_id, segment_index, media_path)
        DO UPDATE SET
        fallback_url = EXCLUDED.fallback_url,
        segment_index = EXCLUDED.segment_index
    </insert>

    <select id="findByInfo" resultMap="playlistMetadataResultMap">
        SELECT *
        FROM content_playlist_meta
        WHERE content_id = #{id}
          AND media_path = #{mediaPath}
          AND segment_index = #{index}
        LIMIT 1
    </select>

</mapper>
